body {
    height: 3000px;
}

div.container {
    width: 500px;
    height: 2000px;
    background-color: black;
    position: relative;  /* closet position element */
}

.box {
    width: 200px;
    height: 200px;
}

.small-box {
    width: 100px;
    height: 100px;
}

.box1 {
    background-color: aqua;
    /* position: sticky;
    top: 10px; */
    /* position: absolute;
    right: 0;
    top: 0; */
}

.box2 {
    background-color: rgb(233, 159, 62);
    /* position: fixed;
    top: 100px;
    left: 100px; */
    /* position: relative;
    top: 100px;
    left: 100px;
    z-index: 2; */
    position: relative;
    z-index: 0;
}

.box3 {
    background-color: plum;
    /* position: relative;
    bottom: 50px;
    z-index: 3; */
}

.box4 {
    background-color: burlywood;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
}

.box5 {
    background-color: indianred;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: -5;
}