div.container {
  width: 500px;
  height: 2000px;
  background-color: black;
}

.box {
  width: 200px;
  height: 200px;
}

.box1 {
  background-color: aqua;
}

.box2 {
  background-color: rgb(94, 227, 127);
  position: sticky;
  top: 10px;
}

.box3 {
  background-color: rgb(219, 83, 46);
}
